  <!-- Content area -->
  <div class="content">
    <!-- Images grid -->
    <div class="row">
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">For ostrich much</h6>
            Some various less crept gecko the jeepers dear forewent far the ouch far a incompetent
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">An so vulgar</h6>
            Delightful unreserved impossible few estimating men favourable see entreaties propriety
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Not rapturous</h6>
            He or entrance humoured likewise moderate. Much nor game son say feel. Fat make met can
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">He it otherwise</h6>
            Chapter too parties its letters nor. Cheerful but whatever ladyship disposed judgment us
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Unfeeling agreeable</h6>
            Branched is on an ecstatic directly it. Put off continue you denoting returned juvenile
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">So come must</h6>
            Replied demands charmed do viewing ye colonel to so. Decisively inquietude he advantages
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Do on unpleasing</h6>
            Demesne far hearted suppose venture excited see had has. Dependent extremely delivered by
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Yet joy exquisite</h6>
            Bed one supposing breakfast day fulfilled off depending questions. Whatever boy exertion
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Behind lovers</h6>
            Building mr concerns servants in he outlived am breeding. He so lain good miss when sell
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Whole every miles</h6>
            How doubt yet again see son smart. While mirth large of on front. Ye he greater related yes
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">Wished he entire</h6>
            Death weeks early had their and folly timed put. Hearted forbade on an village ye fifteen
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-img-actions px-1 pt-1">
            <img class="card-img img-fluid" src="/assets/placeholder.jpg" alt="">
            <div class="card-img-actions-overlay card-img">
              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                <i class="icon-plus3"></i>
              </a>

              <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h6 class="font-weight-semibold">He prevent request</h6>
            Instrument terminated of as astonished literature motionless admiration. The affection are
          </div>
        </div>
      </div>
    </div>
    <!-- /images grid -->


    <!-- Pagination -->
    <div class="d-flex justify-content-center pt-3 mb-3">
      <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
      </ul>
    </div>
    <!-- /pagination -->

  </div>
  <!-- /content area -->
  <!-- /page content -->
  <!-- Basic modal -->
  <div id="modal_default" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign In</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="user[email]" placeholder="Email">
                  </div>

                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="user[password]" placeholder="password">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
                  </div>                  
                <% end %>
                <div class="form-group">
                  <a href="login_password_recover.html" data-dismiss="modal" data-toggle="modal" id="modal_default" data-target="#modal_register" class="ml-auto">New user? Register here</a>
                </div>              
                <div class="form-group">
                  <a href="#" class="ml-auto">Forgot password?</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /basic modal -->
  <!-- Basic modal -->
  <div id="modal_register" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="form-group request">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="user[name]" placeholder="Name">
                  </div>

                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="user[email]" placeholder="Email">
                  </div>

                  <div class="form-group">
                    <label>Phone:</label>
                    <input type="text" class="form-control" name="user[phone]" placeholder="Phone">
                  </div>


                  <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control" name="user[city]" placeholder="City">
                  </div>
                  <div class="form-group">
                    <label>Country:</label>
                    <input type="text" class="form-control" name="user[country]" placeholder="Country">
                  </div>

                  <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="user[username]" placeholder="Username">
                  </div>

                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="user[password]" placeholder="password">
                  </div>                                                      
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>
                  </div>                  
                <% end %>
                <div class="form-group">
                  <a href="login_password_recover.html" data-dismiss="modal" data-toggle="modal" id="modal_register" data-target="#modal_default" class="ml-auto">Login to your account</a>
                </div>                
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /basic modal -->
