<div class="content">
   <div class="row">
     <h1><--<%= link_to 'Back', :back  %></h1>
   </div>
    <div class="row">
      <% @count = 0%>
      <% @painting.each do |paint|%>
     
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-img-actions px-1 pt-1">
                     <%= image_tag(paint.picture.url(:medium), :size => "420x200") %>
                </div>
                <div class="card-body text-center">
                     <h6 class="font-weight-semibold">Painting-<%= @count += 1 %></h6>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
